<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WS-Installed</key>
	<array>
		<string></string>
		<string>alldlls=builtin</string>
		<string>alldlls=builtin</string>
		<string>andale</string>
		<string>arial</string>
		<string>comicsans</string>
		<string>corefonts</string>
		<string>courier</string>
		<string>fontfix</string>
		<string>georgia</string>
		<string>impact</string>
		<string>times</string>
		<string>trebuchet</string>
		<string>verdana</string>
		<string>webdings</string>
	</array>
</dict>
</plist>
